# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/学习代码/.vs/学习代码/v17/Browse.VC.opendb
/学习代码/.vs/学习代码/v17/ipch/AutoPCH/c6a19ac753867c68
/.vs/C-C-/v17/Browse.VC.db
